.container {
  width: min(100%, 1440px);
  margin: auto;
}
/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e0230;
  height: 116px;
  padding: 34px 72px;
}
header img {
  height: 48px;
  width: 48px;
}
header form {
  border-radius: 8px;
  display: flex;
  padding-left: 16px;
  justify-content: space-between;
  width: calc(560 / 1440 * 100%);
  height: 48px;
}
.border_style_pink {
  border: 1px solid rgba(176, 82, 181, 0.79);
}
header form:hover {
  box-shadow: 0px -2px 5px 0px #f1acee;
}
header input {
  background-color: transparent;
  border: none;
  outline: none;
}
header form button {
  border-radius: 0px 8px 8px 0px;
  background: #b052b5;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border: none;
}
header div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.login {
  background-color: transparent;
  border-radius: 8px;
  height: 42px;
  padding: 8px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.border_style_hot_pink {
  border: 1px solid #f30aea;
}
.login:hover {
  color: #f30aea;
  transition: 2s linear;
  box-shadow: 0px 2px 5px 0px #c513bc;
}
header div button:last-child {
  height: 42px;
  padding: 13px;
  border-radius: 8px;
  background: #f30aea;
  border: none;
}
header i {
  font-size: 16px;
  color: #ffffff;
}
/* section  */
section {
  background-image: url(../img/cover\ image.png);
  height: 898px;
  padding: calc(64 / 1440 * 100%) calc(288 / 1440 * 100%);
}
section form {
  padding: calc(48 / 1440 * 100%) calc(200 / 1440 * 100%);
  height: 770px;
  border-radius: 20px;
  border: 1px solid rgba(176, 82, 181, 0.79);
  background: rgba(28, 19, 37, 0.8);
  backdrop-filter: blur(5px);
}
h2 {
  color: #fff;
  text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
h2:hover {
  text-shadow: none;
}
form input {
  background-color: transparent;
  padding-left: 22px;
}
.first_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 48px;
}
.first_cont input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
section label {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.white_label {
  color: #ffffff;
  margin-top: 24px;
}
.question_cont{
    display: flex;
    flex-direction: column;
}
.question_cont label{
    color: #B052B5;
}
.text_Area_cont{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.text_Area_cont input{
    height: 112px;
    border-radius: 8px;
    padding: 11px 370px 75px 22px;
}

.send {
  height: 64px;
  padding-block: 19px;
  width: 100%;
  border-radius: 16px;
  background: #f30aea;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
